# GitHub Actions configuration reference only.

# AWS CONFIGURATION
AWS_ACCESS_KEY_ID=REPLACE_IN_GITHUB_SECRETS
AWS_SECRET_ACCESS_KEY=REPLACE_IN_GITHUB_SECRETS
AWS_SESSION_TOKEN=REPLACE_IN_GITHUB_SECRETS_IF_USED
AWS_EC2_KEYPAIR=ssh-rsa_REPLACE_IN_GITHUB_SECRETS

#  STATE CONFIGURATION
TF_STATE_STORAGE=example-state-storage-name
TF_STATE_CONNECTION=postgres://user:password@host:5432/database?sslmode=require

# SMTP CONFIGURATION
SMTP_HOST=smtp.example.com
SMTP_PORT=587
SMTP_FROM=terraform@example.com
SMTP_TO=devops@example.com,operations@example.com
SMTP_USERNAME=REPLACE_IN_GITHUB_SECRETS
SMTP_PASSWORD=REPLACE_IN_GITHUB_SECRETS

# INFRACOST CONFIGURATION
INFRACOST_API_KEY=REPLACE_IN_GITHUB_SECRETS_IF_USED
